## MacOS.gitignore
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows.gitignore
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Prerequisites
*.d

## C++.gitignore
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

## IDEs
.vscode
.vs
.cache

## latex
report/*.aux
report/*.fls
report/*.log
report/report.synctex.*
report/report.fdb_latexmk

## CMake
build
.idea/.name
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/cs171-project.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-0c63d14978bf77d4bea3.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e799134bc3f1dacc2bd7.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-3d092b72f6b7756dd4d7.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/directory-libs.glfw-Debug-dfa125e45f10cff3644c.json
cmake-build-debug/.cmake/api/v1/reply/directory-libs.glfw.src-Debug-de6b7dd69c29e0c9335b.json
cmake-build-debug/.cmake/api/v1/reply/directory-libs.glm-Debug-7b235eb07e2e697f1fab.json
cmake-build-debug/.cmake/api/v1/reply/directory-libs.glm.glm-Debug-b04bfc787e2effe2d578.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-12-19T15-23-35-0287.json
cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-c332b86d608b4685efe3.json
cmake-build-debug/.cmake/api/v1/reply/target-main-Debug-9716198477775fa3efeb.json
cmake-build-debug/.cmake/api/v1/reply/target-uninstall-Debug-5379eb51e699ea17b649.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-11ba2acb34df3c2bc526.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/libs/glfw/cmake_uninstall.cmake
cmake-build-debug/libs/glfw/src/glfw3.pc
cmake-build-debug/libs/glfw/src/glfw3Config.cmake
cmake-build-debug/libs/glfw/src/glfw3ConfigVersion.cmake
cmake-build-debug/libs/glfw/src/glfw_config.h
